<div id="footer">
<p>Copyright © OurOrderOnline. All rights reserved. Idea by <a href="http://www.russedge.com">RussEdge.com</a>. Powered By <a href="http://development.compassagile.com">CompassAE</a></p>
</div>