<%
  selected_section_parent = @website_section.nil? ? nil : @website_section.parent
%>
<!-- Begin navigation container -->
    <div class="navigationContainer">   
    
        <!-- Begin logo -->
        <div class="logo">
            <img src="<%= theme_image_path('clean','1goat2chickenslogo.png')%>" alt="One Goat" />
        </div>
        <!--/ End logo --> 
    
        <% unless @website_sections.nil? %>
        <!-- Begin navigation -->
        <div class="navigation">
            <ul>
                <% @website_sections.each do |section| %>
                <%  if section.in_menu %>
                <%   if section.has_access?(@current_user)%>
                <%    if (!@website_section.nil? && section.id == @website_section.id) or (!selected_section_parent.nil? and selected_section_parent.id == section.id) %>
            	<li class="active">
                <%
                  selected_section_parent = section
                  else
                %>    
                 <li>
                 <%end%>
                 <a href="<%= section.path %>"><%= section.title %></a></li>
                 <%end%>
                <% end %>
              <% end %>    
            </ul>
        </div>
        <!--/ End navigation -->
        <% end %>
    </div>
<!--/ End navigation container -->

