<div class="footer">
    	Copyright &copy; 2012, 1goat2chickens. All Rights Reserved. Idea from <a href="http://www.russedge.com">RussEdge</a> Powered by <a href="http://development.compassagile.com">CompassAE</a>
</div>