<div id="menu">
  <ul>
    <%
     counter = 1 
     menu_items.each do |menu_item|
    %>  
    <li>
        <a accesskey="<%=counter%>" href="<%= menu_item.path %>"><%= menu_item.title %></a>
    </li>
    <% 
     counter = counter + 1
     end 
    %>
  </ul>
</div>



