
html, body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	background: #e5ddd1 url(../images/bg1_01.jpg) repeat;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #796f6a;
}

h1, h2, h3 {
	margin: 0px;
	padding: 0px;
	font-family: 'Satisfy', cursive;
}

p, ol, ul {
	margin-top: 0px;
}

p, ol {
	line-height: 175%;
}

strong {
}

a {
	color: #49849a;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

img.border {
}

img.alignleft {
	float: left;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

hr {
	display: none;
}

/** WRAPPER */

#wrapper {
	background: url(../images/bg1_02.jpg) repeat-x left top;
}

.container {
	width: 960px;
	margin: 0px auto;
}

.clearfix {
	clear: both;
}

/** HEADER */

#header {
	height: 188px;
	background: url(../images/bg1_03.jpg) no-repeat left top;
}

/** LOGO */

#logo {
	float: left;
	width: 300px;
	height: 188px;
}

#logo h1, #logo p {
	margin: 0px;
	line-height: normal;
}

#logo h1 a {
	display: block;
	width: 255px;
	height: 67px;
	margin: 0px;
	padding: 121px 0px 0px 45px;
	text-decoration: none;
	text-shadow: 1px 1px 2px #FFFFFF;
	font-size: 37px;
	font-weight: normal;
	color: #654b44;
}

/** MENU */

#menu {
	float: right;
	width: 660px;
	height: 188px;
}

#menu ul {
	margin: 0px;
	padding: 113px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	float: left;
	height: 47px;
	padding: 28px 0px 0px 0px;
	text-align: center;
	text-decoration: none;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #FFFFFF;
}

#menu a:hover {
	text-decoration: none;
}

#menu1 {
	width: 163px;
	background: url(../images/homepage01.jpg) no-repeat left top;
	text-shadow: 1px 1px 1px #57403a;
}

#menu2 {
	width: 163px;
	background: url(../images/homepage02.jpg) no-repeat left top;
	text-shadow: 1px 1px 1px #ad7866;
}

#menu3 {
	width: 163px;
	background: url(../images/homepage03.jpg) no-repeat left top;
	text-shadow: 1px 1px 1px #478ca6;
}

#menu4 {
	width: 171px;
	background: url(../images/homepage04.jpg) no-repeat left top;
	text-shadow: 1px 1px 1px #8d8872;
}

/** PAGE */

#page {
	overflow: hidden;
	background: url(../images/subpage1_02.jpg) repeat-y left top;
}

#page-bgtop {
	background: url(../images/subpage1_01.jpg) no-repeat left top;
}

#page-bgbtm {
	overflow: hidden;
	padding: 60px 60px 70px 80px;
	background: url(../images/subpage1_03.jpg) no-repeat left bottom;
}

.single #page {
	background: url(../images/bg1_05.jpg) repeat-y left top;
}

.single #page-bgtop {
	background: url(../images/bg1_04.jpg) no-repeat left top;
}

.single #page-bgbtm {
	background: url(../images/bg1_06.jpg) no-repeat left bottom;
}

/** CONTENT */

#content {
	float: right;
	width: 560px;
}

#wide-content {
}

/** SIDEBAR */

#sidebar {
	float: left;
	width: 192px;
	font-size: 13px;
}

/** FOOTER */

#footer {
	height: 167px;
	background: url(../images/bg1_07.jpg) no-repeat left bottom;
}

#footer p {
	margin: 0px;
	padding: 40px 0px 0px 0px;
	text-align: center;
	text-shadow: 1px 1px 1px #FFFFFF;
	font-size: 13px;
	color: #96877d;
}

/** BOX 1 */

#box1 {
}

/** BOX 2 */

#box2 {
	margin-bottom: 30px;
}

/** BOX 3 */

#box3 {
}

/** BOX 4 */

#box4 {
	clear: both;
	margin-top: 20px;
}

/** BOX STYLE 1 */

.box-style1 {
}

.box-style1 .title1 {
	font-size: 34px;
	font-weight: normal;
	color: #7a5b51;
}

.box-style1 .title2 {
	font-size: 18px;
	font-weight: normal;
	color: #c28b77;
}

.box-style1 .title3 {
	margin: 0px;
	padding: 0px 0px 10px 0px;
	font-size: 24px;
	font-weight: normal;
	color: #7a5b51;
}

.box-style1 .title4 {
	font-size: 14px;
	font-weight: normal;
	color: #c28b77;
}

.box-style1 .title5 {
	margin: 0px;
	padding: 15px 0px 10px 0px;
	font-size: 14px;
	font-weight: normal;
	color: #c28b77;
}

/** LIST STYLE 1 */

ul.style1 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.style1 li {
	background: url(../images/homepage05.gif) no-repeat left 4px;
	padding: 0px 0px 10px 25px;
}

ul.style1 a {
	display: block;
	text-decoration: none;
	font-size: 13px;
	color: #796f6a;
}

ul.style1 a:hover {
	text-decoration: underline;
}

/** IMAGE BORDER STYLE 1 */

.image-style1 {
	position: relative;
	width: 192px;
	height: 90px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.image-style1 span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.image-style1 img {
	position: absolute;
	top: 0;
	left: 0;
}

.image-style1a span {
	background: url(../images/pics01.png) no-repeat left top;
}

/** LIST STYLE 1 */

ul.style1 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.style1 li {
	background: url(../images/homepage05.gif) no-repeat left 4px;
	padding: 0px 0px 10px 25px;
}

ul.style1 a {
	display: block;
	text-decoration: none;
	font-size: 13px;
	color: #796f6a;
}

ul.style1 a:hover {
	text-decoration: underline;
}

/** LIST STYLE 2 */

ul.style2 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.style2 li {
	background: url(../images/homepage05.gif) no-repeat left 4px;
	padding: 0px 0px 10px 25px;
}

ul.style2 a {
	display: block;
	text-decoration: none;
}

ul.style2 a:hover {
	text-decoration: underline;
}

/** LIST STYLE 3 */

ul.style3 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.style3 h3 {
	margin: 0px;
	padding: 0px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: normal;
}

/** IMAGE BORDER STYLE 2 */

.image-style2 {
	position: relative;
	float: left;
	width: 189px;
	height: 180px;
	margin-top: 5px;
	margin-right: 25px;
}

.image-style2 span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.image-style2 img {
	position: absolute;
	top: 0;
	left: 0;
}

.image-style2a span {
	background: url(../images/pics03.png) no-repeat left top;
}

/** IMAGE BORDER STYLE 3 */

.image-style3 {
	position: relative;
	float: left;
	width: 42px;
	height: 42px;
	margin-right: 25px;
}

.image-style3 span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.image-style3 img {
	position: absolute;
	top: 0;
	left: 0;
}

.image-style3a span {
	background: url(../images/pics05.png) no-repeat left top;
}

/** IMAGE BORDER STYLE 4 */

.image-style4 {
	position: relative;
	float: right;
	width: 189px;
	height: 172px;
	margin-top: 10px;
	margin-left: 25px;
}

.image-style4 span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.image-style4 img {
	position: absolute;
	top: 0;
	left: 0;
}

.image-style4a span {
	background: url(../images/pics09.png) no-repeat left top;
}

/** LINK STYLE 1 */

.link-style1 {
	display: inline-block;
	height: 37px;
	background: url(../images/homepage07.jpg) repeat-x left top;
	margin-top: 15px;
}

.link-style1 a {
	display: inline-block;
	height: 37px;
	background: url(../images/homepage06.jpg) no-repeat left top;
	text-decoration: none
}

.link-style1 span {
	display: inline-block;
	height: 31px;
	margin: 0px;
	padding: 6px 25px 0px 25px;
	background: url(../images/homepage08.jpg) no-repeat right top;
	text-decoration: none;
	font-family: 'Satisfy', cursive;
	font-size: 20px;
	color: #FFFFFF;
}

/** TWO COLUMNS */

#two-columns {
	overflow: hidden;
	margin-top: 30px;
}

#column1 {
	float: left;
	width: 265px;
}

#column2 {
	float: right;
	width: 265px;
}
