<div class="main">
  <div class="container_12">
    <div class="wrapper">
      <div class="grid_3">
	<div class="spacer-1">
          <a href="/home"><img src="<%= theme_image_path('communication','russedgelogo_footer.png')%>" alt=""></a>
	</div>
      </div>
      <div class="grid_5">
	<div class="indent-top2">
	  <p class="prev-indent-bot"><a rel="nofollow" href="http://www.templatemonster.com/" target="_blank">Website Template</a> by TemplateMonster.com</p>
	</div>
      </div>
      <div class="grid_4">
       <div class="indent-top2">
	<p class="prev-indent-bot">&copy; 2012 <a class="link color-2" href="#">Privacy Policy</a></p>
       </div>
      </div>
    </div>
  </div>
</div>